*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: teal;
}
#heading{
    /* visibility: hidden; */
    text-align: center;
    font-size: 50px;
    margin: 10px 10px;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inputfield{
    font-size: 20px;
    padding: 20px 30px 20px 10px;
    border-radius: 20px;
    border: 2px solid black;
    margin-bottom: 20px;
}


#btn{
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 10px 10px 5px rgb(60, 59, 59);
    transition: 0.5s;
}

#btn:hover{
    transform: scale(1.1);
}